

.basic-regular {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: Basic, sans-serif;
  background: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.player-container {
  flex: auto;
  background: #333;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px;
}

button {
  background: #555;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #69239e;
}

.timeline {
  margin-bottom: 15px;
}

input[type="range"] {
  width: 100%;
}

.album-playlist-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

/* Container da playlist */
#playlist {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-left: 20px;
  background: #555;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  padding: 0;
  list-style: none;
}

/* Cada música (item da lista) */
#playlist li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #555;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Último item sem borda */
#playlist li:last-child {
  border-bottom: none;
}

/* Hover nos itens */
#playlist li:hover {
  background: #555;
  color: #ffffff;
}

/* Badge lateral (ex: número, NEW, etc) testar com gif da audio tocando */
#playlist li span {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  background: #e0e0e0;
  color: #444;
  transition: all 0.2s;
}

/* Hover no badge junto com o item */
#playlist li:hover span {
  background: #69239e;
  color: #555;
}

/* Música atual tocando */
#playlist li.active {
  background: #69239e;
  color: #ffffff;
}

#playlist li.active span {
  background: #555;
  color: #69239e;
}

#track-cover {
  align-content: center;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#playlist{
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 0;
  margin: 0;
}
